/* 이미지 반응형 최대 사이즈 지정 */
.pv-box {
    max-width: 700px;
    min-width: 280px;
    margin: 0 auto;
    overflow: hidden /* 박스 밖으로 나간 애니메이션 요소 숨기기 */
}



/* 반응형 배경 이미지 ------------------------------------------------------------ 출처 https://amango.tistory.com/81 */
.bg {
    max-width: 700px;
    height: 0%;
    padding-bottom: calc(980/700*100%);
    /*calc(이미지 높이/이미지 너비*100%)*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}



/* 10 ~ 14, 16, 17, 18, 21, 22 반응형 하프 배경 이미지 */
.halfBg {
    max-width: 700px;
    height: 0%;
    padding-bottom: calc(490/700*100%);
    /*calc(이미지 높이/이미지 너비*100%)*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}



/* 반응형 배경 이미지 & 페이드인 밀림 현상 잡기 ------------------------------------------------------------ */
.fade-wrap,
.fade-wrap.fade-in {
    height: 0px;
}



/* 반응형 레이어드 이미지 ------------------------------------------------------------ */
img {
    display: block;
    max-width: 100%;
    height: auto;
}



/* 페이지 10-1 ~ 14-2 컬러뷰, 16 정렬 ------------------------------------------------------------ */
.photoBg 
.length {
    display: flex;
    flex-direction: column;
}

.colorAll,
.colorList,
.colorTip,
.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

/* 페이지 10 ~ 14, 16, 17, 18, 21, 22 절반 백그라운드 반응형 이미지 ------------------------------------------------------------ 출처 https://amango.tistory.com/81 */
.halfBg {
    max-width: 700px;
    height: 0%;
    padding-bottom: calc(490/700*100%);
    /*calc(이미지 높이/이미지 너비*100%)*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}