    /* bgfadein - 링크: https://devinus.tistory.com/58 */
    .pv-box .bgfadein {
        /* 나타나는 효과가 N초 동안 발생 */
        transition: 1s;
        /* 투명도 0 (안보임) */
        opacity: 0;
    }

    .pv-box .bgfadein.fade-in {
        /* 투명도 0 (보임) */
        opacity: 1;
    }