    /* right0_5s - 링크: https://devinus.tistory.com/58 */
    .fade-wrap .right0_5s {
        /* 나타나는 효과가 N초 동안 발생 */
        transition: 1s;
        /* 투명도 0 (안보임) */
        opacity: 0;
        /* 아래에서 위로 나타나게 하기 위함 */
        position: relative;
        left: -50px;
    }

    .fade-wrap .right0_5s.fade-in {
        /* 투명도 0 (보임) */
        opacity: 1;
        /* 아래에서 위로 나타나게 하기 위함 */
        left: 0;
    }